{% extends "base_auth.html" %}
{% load static %}
{% block title %}
  Login
{% endblock title %}
{% block content %}
<div class="main-w3layouts wrapper">
		<h1>Login to your account</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="{% url 'login' %}" method="post">
				  {% csrf_token %}
				  {% include "partials/_messages.html" %}
					<input class="text" type="text" name="username" placeholder="Username" id="usernameField" value="{{ fieldVals.username}}">
					
					<div class="invalid-feedback" style="display:none;"></div>
                    <p class="text-sm text-success usernameSuccess"></p>
					{% comment %} <input class="text email" type="email" name="email" placeholder="Email" id="emailField" value="{{ fieldVals.email}}">
					<div class="invalid-feedback emailFeedback" style="display:none;"></div>
                    <p class="text-sm text-success emailSuccess"></p> {% endcomment %}
					<br>
					<input class="text" type="password" name="password" placeholder="Password" id="password1Field">
					{% comment %} <small class="float-right py-3 showPasswdToggle">SHOW</small> {% endcomment %}
					{% comment %} <input class="text w3lpass" type="password" name="password2" placeholder="Confirm Password" id="Password2Field"> {% endcomment %}
					<div class="wthree-text">
						<label class="anim">
							<input type="checkbox" class="checkbox"  checked=true disabled=true>
							<span>Keep me logged in</span>
						</label>
						<div class="clear"> </div>
					</div>
					<input type="submit" value="LOGIN" class="signup">
				</form>
				<p>Don't have an Account? <a href="{% url 'register' %}"> Sign up Now!</a></p>
			</div>
		</div>
		<!-- copyright -->
		<div class="colorlibcopy-agile">
			<p>© 2021 InuwaAgroPoulthatchery Ltd Login Form. All rights reserved </p>
		</div>
		<!-- //copyright -->
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
{% endblock content %}
{% comment %} {% block title %}
Login
{% endblock title %}
{% block description %}
Mega Poultry Farm
{% endblock description %}
{% block keywords %}
Agro,Poultry,Hatchery,Chicken, Machinery
{% endblock keywords %}
{% block header %}
 <!-- styles for registeration/login pages -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
{% endblock header %}
{% block aside %}
<div class="fh5co-contact">
<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<h3 id="form-title">LOGIN</h3>
				</div>
        {% if messages %}
            {% for message in messages%}
            <div class="alert alert-{{ message.level_tag }}" style="text-align:center;">{{ message }}</div>
            {% endfor %}
         {% else %}
         {% endif %}
				<div class="d-flex justify-content-center form_container">
					<form method="POST" action="">
          {% csrf_token %}
						<div class="input-group mb-3">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-user"></i></span>
							</div>
							<input type="text" name="username" placeholder="Username..." class="form-control">
						</div>
						<div class="input-group mb-2">
							<div class="input-group-append">
								<span class="input-group-text"><i class="fas fa-key"></i></span>
							</div>
								<input type="password" name="password" placeholder="Password..." class="form-control" >
						</div>

							<div class="d-flex justify-content-center mt-3 login_container">
				 				<input class="btn login_btn" type="submit" value="Login">
				   			</div>
					</form>

				</div>
		     
				<div class="mt-4">
					<div class="d-flex justify-content-center links txt">
						Don't have an account? <a href="{% url 'register' %}" class="ml-2 btn btn-primary cls">Sign Up</a>
					</div>
			
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock aside %}
{% block products %}

{% endblock products %} {% endcomment %}

