[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
Pillow = "*"
django-mptt = "*"
django-ckeditor = "*"
psycopg2 = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
cloudinary = "*"
django-cloudinary-storage = "*"
django-utils-six = "*"
six = "*"
python-decouple = "*"
django-paypal = "*"
social-auth-app-django = "*"
django-extensions = "==2.2.5"
werkzeug = "==0.16.0"
pyopenssl = "==19.0.0"

[dev-packages]

[requires]
python_version = "3.8"
