{% load static %}
<div id="fh5co-product">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<span>Cool Stuff</span>
					<h2>Products.</h2>
					<p>We provide unmatched products as a result of simplifying production processes and eliminating costs.</p>
				</div>
			</div>
			<div class="row">

			{% for product in products %}
			
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url({% if product.image %}{{ product.image.url }}{% else %}{% static 'images/no-image.png' %}{% endif %});">
							<div class="inner">
								<p>
									<a href="#" class="icon update-cart"><i class='icon-shopping-cart'></i></a>
									<a href="{{ product.get_absolute_url }}" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="{{ product.get_absolute_url }}">{{ product.title }}</h3>
						</div>
					</div>
				</div>
			{% endfor %}
			
		</div>
</div>