{% extends "base.html" %}
{% load static %}
{% block title %}
 {{ setting.title }} | Payment
{% endblock title %}
{% block description %}
 {{ setting.description }}
{% endblock description %}
{% block keywords %}
 {{ setting.keywords }}
{% endblock keywords %}
{% block header %}
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  
{% endblock header %}
{% block aside %}
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url({% static 'images/img_bg_6.jpg' %});">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Payment Status</h1>
							<h2>Inuwa Agro </h2>
						</div>
					</div>
				</div>
			</div>
		</div>
</header>
{% endblock aside %}
{% block products %}
<div id="fh5co-contact">
	<div class="container">
	<section id="cart_items">
		<div class="container">
			<div class="row">
            <div class="col-md-12 text-center">
			<div class="col-md-3"></div>
			<div class="text-center alert alert-warning col-md-6">
			  <img src="{% static 'images/success.gif' %}" width="200" height="200">
              <br>
               <h2 style="color:green;">Payment Successful.</h2>
               <a href="{% url 'products:products' %}" class="btn btn-primary">Continue Shopping</a>
			</div>
			<div class="col-md-3"></div>
            </div>
            </div>

		</div>
			
	</section> <!--/#cart_items-->
	
	</div>
</div>
{% endblock  %}
	
{% block counter %}

<div id="fh5co-started">
<div class="container">
<div class="row animate-box">

</div> 
</div>
</div>
</div>

{% endblock counter %}


